body{
    background-color: bisque;
    margin: auto;
    color:rgb(50, 49, 49);
}

.nav_container{
    display: flex;
    justify-content: center;
    background-color: rgb(50, 49, 49);
    width: 100%;
    height: 50px;
}
a{
    text-decoration: none;
    color:bisque;
    font-size: larger;
    display: flex;
    justify-self: center;
    padding-top: 10px;
}